<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<title>BatleShips</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css.css">
</head>

<body>

	<nav id="globalLoading" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="spinner">
				<div id="_dot1" class="dot1"></div>
				<div id="_dot2" class="dot2"></div>
			</div>
		</div>
	</nav>

	<main class="container">

		<div id="namePrompt" class="row">
			<div class="col-md-4 col-md-offset-4 text-center ">
				<label class="form-label" for="inptName">Username</label>
			</div>
			<br>
			<div class="col-md-4 col-md-offset-4 centered">
				<input id="inptName" class="input-lg form-control" type="text"></input>
			</div>
			<div class="col-md-12 text-center">
				<!-- EMPTY -->
				<br>
			</div>
			<div class="col-md-4 col-md-offset-4 text-center">
				<button id="btnSubmitName" class="btn btn-primary btn-block">Submit</button>
				<label id="errorName">.</label>
			</div>
		</div>

		<div id="joinGame" class="row">
			<div class="col-md-4 col-md-offset-4 text-center">
				<button id="btnJoin" class="btn btn-primary btn-block">Join Game</button>
				<label id="errorJoin">.</label>
			</div>
		</div>

		<div id="choosePlacement" class="row">

			<div class="col-md-6 col-md-offset-3 text-center">
				<h3>Place your ships</h3>
			</div>

      {{ $sl1 := .Numbers }}
      {{ $sl2 := .Numbers }}

			<div id="chooseBoard" class="col-md-5 col-md-offset-1">
				<div class="board-row">
					{{ range .Letters }}
					<span class="board-cell-info btn" data-info="{{ . }}"></span>
					{{ end }}
				</div>
				{{ range $i := $sl1 }}
				<div class="board-row">
					<span class="board-cell-info btn" data-info="{{ $i }}"></span>
					{{ range $j := $sl2 }}
					<span class="board-cell btn" id="cell-{{ $i }}{{ decInt $j 1 }}"></span>
					{{ end }}
				</div>
				{{end}}
			</div>

			<div id="placementControls" class="col-md-6 container">
				<div class="row">
					<div class="col-md-12">
						<h6>Place Starting Point and End Point</h6>
					</div>
				</div>
				{{ range .Names }}
				<div class="row">
					<label>Place {{ .Name }}</label>
					<br>
					<span class="col-md-1 boardInpt"><input id='{{ .St }}i' class="form-control inptXY" data-ship="{{  .St  }}"
							type="number" min="1" max="10" step="1" placeholder="0"></span>
					<span class="col-md-1 boardInpt"><input id='{{  .St  }}j' class="form-control inptXY" data-ship="{{  .St  }}"
							minlength="1" maxlength="1" placeholder="A"></span>
					<span class="col-md-2 boardBtn"><button id='btnRot{{  .St  }}' class="btn btn-info btnRot"
							data-ship="{{  .St  }}">Rotate</button></span>
					<span class="col-md-4 boardBtn"><button id='btnRotIndic{{  .St  }}' class="btn btn-block btn-default"
							disabled>Currently Vertical</button></span>
					<span class="col-md-2 col-md-offset-1 boardBtn"><button class="btn btn-primary btn-block btnDrop"
							data-ship="{{  .St  }}">Drop</button></span>
					<span class="col-md-12 boardBtn"><label id="errorPlaceShip{{  .St  }}"
							class="label label-default">.</label></span>
				</div>
				{{ end }}
			</div>

			<div class="col-md-4 col-md-offset-4 text-center">
				<button id="btnReady" class="btn btn-primary btn-block">Ready</button>
				<label id="errorReady">.</label>
			</div>
		</div>

		<div id="board" class="row container">
			<div id="battleBoard" class="row">
				<div class="col-md-5 col-md-offset-1 centered-i">
					<h4>You</h4>
				</div>
				<div class="col-md-5 col-md-offset-1 centered-i">
					<h4>Opponent</h4>
				</div>
			</div>
			<div class="row">
				<span class="col-md-1 boardInpt col-md-offset-8"><input id="shoti" class="form-control shotInptXY" type="number"
						min="1" max="10" step="1" placeholder="0"></span>
				<span class="col-md-1 boardInpt"><input id="shotj" class="form-control shotInptXY" minlength="1" maxlength="1"
						placeholder="A"></span>
				<span class="col-md-2 boardBtn"><button id="btnShoot"
						class="btn btn-primary btn-block btnShoot">Shoot!</button></span>
				<span class="col-md-2 col-md-offset-10 centered-i boardBtn"><label id="errorShoot"
						class="label label-default">.</label></span>
			</div>
		</div>

		<div id="gameOver" class="row container gameOverDisplay">
			<div id="gameOverWin" class="col-md-12 centered-i">
				<h2>You win !</h2>
			</div>
			<div id="gameOverLose" class="col-md-12 centered-i">
				<h2>You lose !</h2>
			</div>
		</div>

	</main>
	<script src="jquery.js"></script>
	<script src="jquery-migrate.js"></script>
	<script src="socket.js"></script>
	<script src="client.js"></script>
</body>

</html>
